:root {
  --style-color-lighter-yellow: #f6fbbf;
  --style-color-light-yellow: #f5fca6;
  --style-color-darker-yellow: #eff888;
  --style-color-dark-yellow: #cbd564;
  --style-color-bright-orange: #fcb93d;
  --style-color-dark-orange: #c68e26;
  --style-color-aqua-blue: #7fffd4;
  --style-color-off-black: #111111;
}
